* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #B7DA25;
}

a:hover {
    color: rgb(203, 197, 4);
}

video {
    width: 15rem;
    margin: 0.5rem;
}

.imagenFutbol {
    border-radius: 2rem;
}

.videos {
    padding: 1rem;
    background-color: #1B1F2A;
    border-radius: 2rem;
}

.videos h3, small {
    color: white;
}


header {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("public/main.jpg");
    border-bottom: 7rem solid #1B1F2A;

}

.containerHeaderMain {
    display: flex;

}

main {
    min-height: 600vh;
    padding: 5rem 8rem;
    --s: 50px;
    --c: #fff;
    --c1: #f3f3f3;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--c1) 68% 70%, #0000 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s), repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s), radial-gradient(var(--c) 66%, var(--c1) 68% 70%, var(--c) 72%) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
}


.nav {
    flex: 1;
    color: rgb(24, 23, 23);
    display: flex;
    align-items: center;
    justify-content: end;

}

ul {
    display: flex;


}

li {
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Prompt', sans-serif;
    margin: 0.5rem 1.4rem;
}



.mainHeader {
    flex: 6;
    display: flex;

}

.mainLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;


}

.mainRigth {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: end;



}

.redes {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 10rem;

    color: #B7DA25;
}



.container {
    display: grid;
}

.wrapper {
    perspective: 1000px;

}

.galleria {
    margin-top: 1rem;
    min-height: 80vh;

}





.galleria2 {
    margin-top: 5rem;
    margin-bottom: 8rem;

}

.top {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(50% + 50.00px) calc(100% - 50px), 50% 100%, calc(50% - 50.00px) calc(100% - 50px), 0 calc(100% - 50px));
}

footer {
    min-height: 25vh;
    background-color: #1B1F2A;
}


@media (max-width: 991.98px) {
    header {
        background-image: url("public/mobil/Main.jpg");
    }

    main {
        min-height: 600vh;
        padding: 1rem;

    }

    .container {
        display: flex;
        flex-direction: column;
    }

    ul.nav, li.nav, nav.nav, a.nav {
        display: none;
        flex: 0;
    }

    .containerHeaderMain {
        flex-direction: column;

    }

    .mainHeader {
        flex-direction: column;

    }

    .ticket {
        width: 75vw;
        height: 70vh;
        aspect-ratio: 18/9;


    }

    .mainLeft {
        flex: 3;
    }

    .mainRigth {
        justify-content: center;
        align-items: center;



    }

    .redes {
        flex-direction: row;
        margin: 0.5rem;
        padding: 0.5rem;

        min-height: 3rem;

    }

    .galleria2 {
        margin-top: 3rem;
        margin-bottom: 6rem;

    }

}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}